{% extends "template.html" %}
{% block content %}
<script>
    $(document).ready(function() {
        $('#tipo').change(function() {
            create();
        });
    });
    
    function create() {
        var aux = $("#tipo").prop("checked");
        if (aux)
            $("#link").attr("href", "/negocios/2");
        else
            $("#link").attr("href", "/negocios/1");
    }
</script>

<h2 class="text-white" style="margin: 10px; margin-bottom: 5px; text-align: center;">Lista de puntos deportivos</h2>
<div class="booking-form-body" style="margin-top: 5px;">
    <table id="tabla" class="table text-white">
        <thead>
            <tr>
                <th>Nro</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>P. cancha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in lista %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.direccion }}</td>
                    <td>{{ item.precio }}</td>
                    
                    <td>
                        <form action="/negocio/eliminar" method="post">
                            <input type="hidden" name="id" value="{{ item.id }}">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                    </td>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
